<main class="flex-grow md:mt-20 bg-gray-100 py-10">
    <div class="container mx-auto px-4">
      <!-- Título del Servicio -->
      <h2 class="text-3xl font-semibold font-maderarcoFont animate-fade-down animate-delay-1000 text-gray-800 mb-6 text-center">Clases de música</h2>

      <!-- Imagen Destacada -->
      <div class="mb-6">
        <img src="assets/fotosMaderarco/maderarco1.JPEG" alt="Imagen del Servicio" class="w-auto h-auto max-h-80 mx-auto rounded-lg shadow-lg">
      </div>

      <!-- Descripción -->
      <div class="text-gray-700 text-lg leading-relaxed mb-8">
        <p class="text-justify">
          Están diseñadas para ofrecer una enseñanza musical efectiva y divertida, adaptada a tus necesidades y ritmo, para que logres tocar tu instrumento con confianza y disfrute.
        </p>
      </div>

      <!-- Beneficios o Características -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-center">
        <div class="p-4 bg-white rounded-lg shadow hover:shadow-lg transition">
          <h3 class="text-xl font-bold text-gray-800 mb-2">Iniciación musical</h3>
          <p class="text-gray-600 text-justify">Un enfoque divertido y accesible para empezar tu camino musical, donde aprenderás lo básico para que te sientas cómodo tocando desde el principio.</p>
        </div>
        <div class="p-4 bg-white rounded-lg shadow hover:shadow-lg transition">
          <h3 class="text-xl font-bold text-gray-800 mb-2">Teoría musical</h3>
          <p class="text-gray-600 text-justify">Te enseñamos los fundamentos esenciales de la teoría musical para que comprendas cómo se construye la música y puedas aplicarlo en tu propio instrumento.</p>
        </div>
        <div class="p-4 bg-white rounded-lg shadow hover:shadow-lg transition">
          <h3 class="text-xl font-bold text-gray-800 mb-2">Clases de instrumento</h3>
          <p class="text-gray-600 text-justify">Clases personalizadas para aprender a tocar tu instrumento de manera práctica y amena, enfocándonos en técnica, repertorio y expresión musical.</p>
        </div>
      </div>
    </div>
  </main>
  <app-form></app-form>
