<main class="flex-grow bg-gray-100 py-10">
    <div class="container mx-auto px-4">
      <!-- Título del Servicio -->
      <h2 class="text-3xl font-semibold font-maderarcoFont animate-fade-down animate-delay-1000 text-gray-800 mb-6 text-center">Eventos</h2>

      <!-- Imagen Destacada -->
      <div class="mb-6">
        <img src="assets/fotosMaderarco/maderarco1.JPEG" alt="Imagen del Servicio" class="w-auto h-auto max-h-80 mx-auto rounded-lg shadow-lg">
      </div>

      <!-- Descripción -->
      <div class="text-gray-700 text-lg leading-relaxed mb-8">
        <p>
          Nuestras eventos están diseñados ...
        </p>
      </div>

      <!-- Beneficios o Características -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-center">
        <div class="p-4 bg-white rounded-lg shadow hover:shadow-lg transition">
          <h3 class="text-xl font-bold text-gray-800 mb-2">Recepciones</h3>
          <p class="text-gray-600">Breve descripción del primer beneficio.</p>
        </div>
        <div class="p-4 bg-white rounded-lg shadow hover:shadow-lg transition">
          <h3 class="text-xl font-bold text-gray-800 mb-2">Evento cultural</h3>
          <p class="text-gray-600">Breve descripción del segundo beneficio.</p>
        </div>
        <div class="p-4 bg-white rounded-lg shadow hover:shadow-lg transition">
          <h3 class="text-xl font-bold text-gray-800 mb-2">Evento religioso</h3>
          <p class="text-gray-600">Breve descripción del tercer beneficio.</p>
        </div>
      </div>
    </div>
  </main>
  <app-form></app-form>
