.verdeMaderarco{
    background-color: #525A35;
}

.verdeOscuroMaderarco{
    background-color:#172118;
}

.terracotaMaderarco{
    background-color: #A44124;
}

.azulMaderarco{
    background-color: #5d78af;
}
.rosaMaderarco{
    background-color: #F5ECE7;
}
  