<div class="landing-container">
    <header class="flex relative bg-cyan-600 text-white py-16 justify-center text-center">
      <!-- Imagen de fondo -->
      <img src="assets/maderarco.jpg" alt="Maderarco" class="w-full h-auto   object-cover rounded-lg shadow-lg opacity-60" />
  
      <!-- Texto sobre la imagen -->
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold">Bienvenidos a Maderarco</h1>
        <p class="text-lg mt-4 max-w-2xl px-4">Vive la magia de la música con un estilo único que solo Maderarco puede ofrecer.</p>
      </div>
    </header>
  
    <section class="about-us bg-white py-16 px-4 text-center">
      <h2 class="text-3xl font-semibold mb-4">Sobre Nosotros</h2>
      <p class="text-lg text-gray-700 max-w-3xl mx-auto">
        Maderarco es una agrupación dedicada a ofrecer experiencias musicales inolvidables. Nuestro repertorio abarca una amplia variedad de estilos, desde música clásica hasta contemporánea, siempre con un toque único que caracteriza a nuestro grupo.
      </p>
    </section>
  
    <section class="our-music bg-gray-100 py-16 px-4 text-center">
      <h2 class="text-3xl font-semibold mb-4">Nuestra Música</h2>
      <p class="text-lg text-gray-700 max-w-3xl mx-auto">
        Exploramos diferentes géneros y adaptamos nuestra música para cada ocasión, creando atmósferas mágicas que conectan con el público y hacen de cada presentación un evento especial.
      </p>
  
      <!-- Video de YouTube -->
      <div class="mt-8">
        <iframe class="w-full max-w-3xl h-64 mx-auto rounded-lg shadow-lg" width="560" height="315" src="https://www.youtube.com/embed/-GnUA0PsiMc?si=sDVHBAkIuWmTVmtq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>
  
    <section class="upcoming-events bg-white py-16 px-4 text-center">
      <h2 class="text-3xl font-semibold mb-4">Próximos Eventos</h2>
      <p class="text-lg text-gray-700 max-w-3xl mx-auto">
        No te pierdas nuestras próximas presentaciones en vivo. ¡Mantente atento para más detalles!
      </p>
    </section>
  
    <section class="contact bg-gray-100 py-16 px-4 text-center">
      <h2 class="text-3xl font-semibold mb-4">Contacto</h2>
      <app-form />
    </section>
  </div>
  
